body{
    background-color: antiquewhite;
}
h1{
    text-align: center;
    color: blueviolet;
    margin-top: 40px;
}
.col{
    width: 100px;
    height: 100px;
    background-color: bisque;
    border: 1px solid white;
    margin: 1px;
}
.row1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row5{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* --------------------- display: flex; Working --------------------- */

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Additional properties, like height, are often necessary for centering */
  height: 100vh; /* This makes the container take up the full viewport height */
  border: 2px dashed #ccc; /* Optional, for visualization */
}

.flex-item {
  /* The child element you want to center */
  width: 150px;
  height: 100px;
  background-color: lightblue;
  text-align: center;
}
